In [1]:
print (2+2)

4

In [3]:
import pandas as pd

In [4]:
users = {'Name': ['Jafar', 'Anas', 'Anisah', 'Marusoft'],
         'Age': [21, 12, 13, 40],
         'State': ['Lagos', 'London', 'Ogun', 'Imo']}

db = pd.DataFrame(users)

print(db)

       Name  Age   State
0     Jafar   21   Lagos
1      Anas   12  London
2    Anisah   13    Ogun
3  Marusoft   40     Imo